<!doctype html>
<html>
    <head>
        <title>Photo App</title>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <link href='http://fonts.googleapis.com/css?family=Crete+Round' rel='stylesheet' type='text/css'>
        <link type="text/css" rel="stylesheet" href="css/main.css">
    </head>
    <body ng-app="photoapp">
        <div id="site">
            <div id="viewer" ng-controller="ViewerController" ng-show="visible" class="ng-cloak">
                <div id="overlay" ng-show="visible" ng-click="hideViewer()"></div>
                <div id="viewer-top-controls" class="controls">
                    <ul>
                        <li><a class='prev' href="" ng-click="previousImage()"><img src="icons/resultset_previous.png"><span>previous</span></a></li>
                        <li><a class='sizes' ng-href="{{ photo.sizesLink }"><img src="icons/magnifier.png"><span>sizes</span></a></li>
                        <li><a class='link' ng-href="{{ photo.offsiteLink }}"><img src="icons/photo_link.png"><span>link</span></a></li>
                        <!--<li><a class='info' href="" ng-click="toggleMetadata()"><img src="icons/report_picture.png"><span>info</span></a></li>-->
                        <li class='last-control'><a class='next' href="" ng-click="nextImage()"><span>next</span><img src="icons/resultset_next.png"></a></li>
                    </ul>
                </div>
                <div id="viewer-image-container" ng-click="hideViewer()">
                    <div id="info" ng-show="metadataVisible">
                        <div class="exit" ng-click="toggleMetadata()">X</div>
                        <dl class="info-metadata">
                            <pa-metadata name="{{ item.name }}" value="{{ item.value }}" ng-repeat="item in metadata">
                        </dl>
                    </div>
                    <div id="viewer-image" ng-class="{loading:loading}" ng-style="viewerStyle" pa-animate="viewerAnimatedStyle">
                        <img ng-src="{{ image }}" ng-style="imageStyle" pa-animate="imageAnimatedStyle" ng-show="!loading">
                    </div>
                </div>
            </div>
            <div id="redirect">
              Sending to Flickr...
            </div>
            <div id="header">
                <div id="header-title">
                <a href="#/" class='back-to-all ng-cloak' ng-controller='InfoController' ng-show='shouldShowBackButton'> 
                    <div class='arrow'></div><span>Back to Photo Stream</span>
                </a>
                <h1>
                    <a href="#/">ask charl.es / photos</a>
                </h1>
                </div>
            </div>
            <div id="content" ng-view>
            </div>
            <div id="footer">
                &copy; 2012-2013 Charles Piña
            </div>
        </div>
        <script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
        <script type='text/javascript' src='http://code.angularjs.org/1.1.5/angular.min.js'></script>
        <script type='text/javascript' src='http://code.angularjs.org/1.1.5/angular-resource.min.js'></script>
        <script type='text/javascript' src='js/app.js'></script>
        <script type='text/javascript' src='js/services.js'></script>
        <script type='text/javascript' src='js/directives.js'></script>
        <script type='text/javascript' src='js/controllers.js'></script>
    </body>
</html>
