<!doctype html>
<html>
    <head>
        <title>Photo App</title>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <link href='http://fonts.googleapis.com/css?family=Crete+Round' rel='stylesheet' type='text/css'>
        <link type="text/css" rel="stylesheet" href="css/main.css">
    </head>
    <body ng-app="siteapp">
        <div id="site">
            <div id="viewer" ng-controller="ViewerController" ng-show="visible" class="ng-cloak">
                <div id="overlay" ng-show="visible" ng-click="hideViewer()"></div>
                <div id="viewer-top-controls" class="controls">
                    <ul>
                        <li><a class='prev' href="" ng-click="previousImage()"><img src="icons/resultset_previous.png"><span>previous</span></a></li>
                        <li><a class='sizes' href="{{ photo.sizes }}"><img src="icons/magnifier.png"><span>sizes</span></a></li>
                        <li><a class='link' href="{{ photo.permalink }}"><img src="icons/photo_link.png"><span>link</span></a></li>
                        <li><a class='info' href="" ng-click="toggleMetadata()"><img src="icons/report_picture.png"><span>info</span></a></li>
                        <li class='last-control'><a class='next' href="" ng-click="nextImage()"><span>next</span><img src="icons/resultset_next.png"></a></li>
                    </ul>
                </div>
                <div id="viewer-image-container" ng-click="hideViewer()">
                    <div id="info" ng-show="metadataVisible" util-draggable>
                        <div class="exit" ng-click="toggleMetadata($event)">X</div>
                        <dl class="info-metadata" ng-init="tagNames={FNumber: 'F-Number', ExposureTime: 'Exp. Time', DateCreated: 'Date Taken'}">
                            <span ng-show="!photo.metadata"><dt>Loading...</dt><dd></dd></span>
                            <span ng-repeat="item in photo.metadata">
                                <dt>{{ tagNames[item.tag] || item.tag }}</dt>
                                <dd>{{ item.value }}</dd>
                            </span> 
                        </dl>
                    </div>
                    <div id="viewer-image" ng-class="{loading:loading}" ng-style="viewerStyle" util-animate="viewerAnimatedStyle">
                        <img ng-src="{{ image }}" ng-style="imageStyle" util-animate="imageAnimatedStyle" ng-show="!loading">
                    </div>
                </div>
            </div>
            <div id="redirect">
              Sending to Flickr...
            </div>
            <div id="header" ng-controller='InfoController'>
                <div id="header-title">
                <h1>
                    <a href="#/">http:// ask charl.es</a>
                </h1>
                </div>
            </div>
            <div id="nav" class="drop-shadow curved curved-hz-1">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#/photos">Photography</a></li>
                    <li><a href="#/video">Video</a></li>
                    <li><a href="#/sound">Music</a></li>
                    <li><a href="#">About Me</a></li>
                </ul>
            </div>
            <div id="content" ng-view>
            </div>
            <div id="footer">
                &copy; 2012-2013 Charles Piña
            </div>
        </div>
        <script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="js/jquery-ui-1.9.0.custom.min.js"></script>
        <script type='text/javascript' src='http://connect.soundcloud.com/sdk.js'></script>
        <script type='text/javascript' src='http://code.angularjs.org/1.1.5/angular.min.js'></script>
        <script type='text/javascript' src='http://code.angularjs.org/1.1.5/angular-resource.min.js'></script>
        <script type='text/javascript' src='js/app.js'></script>
        <script type='text/javascript' src='js/config.js'></script>
        <script type='text/javascript' src='js/util/directives.js'></script>
        <script type='text/javascript' src='js/photo/events.js'></script>
        <script type='text/javascript' src='js/photo/services.js'></script>
        <script type='text/javascript' src='js/photo/directives.js'></script>
        <script type='text/javascript' src='js/photo/controllers.js'></script>
        <script type='text/javascript' src='js/sound/services.js'></script>
        <script type='text/javascript' src='js/sound/controllers.js'></script>
        <script type='text/javascript' src='js/video/services.js'></script>
        <script type='text/javascript' src='js/video/directives.js'></script>
    </body>
</html>
